.git
.benchmark-cache
results/local
implementations/go/.cache
implementations/rust-cargo-script/.cache

**/.venv
**/__pycache__
**/.mypy_cache
**/.pytest_cache
**/*.pyc

**/node_modules
**/target
**/_build
**/compiled
**/.bsp
**/.scala-build
**/nimcache
